@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Pacifico&family=Roboto:wght@400;700;900&display=swap');

body {
  margin: 0;
}

.logo,
.nav-item {
  font-stretch: normal;
  text-decoration: none;
  font-size: 1.875rem;
}

.logo {
  width: 300px;
  gap: 20px;
  font-weight: 900;
  letter-spacing: normal;
}

.nav-item {
  letter-spacing: 1.9px;
  padding: 0.375rem 2.938rem 0.125rem 0;
}

.navbar {
  padding: 1.438rem 0 1.688rem 0;
}

.navigation {
  border-bottom: 1px solid #e8e8e8;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.book-category {
  font-weight: bolder;
  opacity: 0.6;
}

.book-info {
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  margin: 2.313rem 6.25rem 0;
  border: 1px solid #e8e8e8;
}

.book-title {
  font-size: 1.375rem;
  letter-spacing: -0.2px;
  padding-top: 0.4rem;
  font-weight: 500;
}

.author,
.book-feedback,
.progress-stat,
.book-title,
.chapter {
  font-family: 'RobotoSlab-Light', sans-serif;
}

.book-category,
.rating,
.status,
.logo,
.nav-item,
.form-title {
  font-family: 'Montserrat', sans-serif;
}

.author {
  padding-top: 0.2rem;
}

.book-feedback {
  padding-top: 1.318rem;
  padding-bottom: 0.55rem;
  letter-spacing: normal;
}

.btn-action {
  border: none;
  padding: 6px 10px 6px 0;
  background-color: transparent;
}

.line {
  border-right: 1px solid #e8e8e8;
}

.fa-circle-notch {
  color: #379cf6;
  font-size: 3.5rem;
}

.spin-container,
.spin {
  width: 4.25rem;
  height: 4.252rem;
}

.spin {
  border-top: 5px solid #379cf6;
  border-bottom: 5px solid #379cf6;
  border-right: 5px solid #379cf6;
  border-left: 5px solid #e8e8e8;
  rotate: 45deg;
  border-radius: 50%;
}

.rating {
  font-size: 2rem;
}

.container {
  margin: 40px 6.25rem;
}

.progress-bar {
  gap: 20px;
  border-right: 0.125rem solid #e8e8e8;
  padding-right: 10%;
}

.btn-progress {
  border-radius: 3px;
  border: none;
  padding: 0.638rem 1.375rem;
  margin-top: 1.4rem;
  width: max-content;
  letter-spacing: 0.5px;
}

.btn-progress,
.btn-add {
  color: #fff;
}

.progress-info {
  margin-left: 20%;
}

.btn-wrapper {
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
}

.bg-primary {
  background-color: #0290ff;
}

.progress-stat {
  font-weight: 400;
  padding-bottom: 8px;
}

.status,
.progress-stat,
.cat,
.form-title {
  opacity: 0.5;
}

.chapter {
  font-size: 1.12rem;
  margin-top: 0.438rem;
  letter-spacing: 0.4px;
}

.form {
  gap: 4.5rem;
}

.text-input,
.cat,
.btn-add,
.fa-user {
  padding: 16px 5px;
  border: 1px solid #e8e8e9;
  font-size: 1rem;
}

.text-input,
.cat {
  background-color: transparent;
}

.app {
  padding: 4%;
  background-color: #f5f6fa;
}

.btn-add {
  border: none;
  width: max-content;
}

.form-input {
  margin-bottom: 10rem;
  margin-top: 3rem;
}

.form-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 2.5rem;
  padding: 2.5rem 0 1.5rem;
  border-top: 0.125rem solid #e8e8e8;
}

.fa-user {
  font-size: 20px;
  padding: 0.877rem;
  border-radius: 50%;
}

.bg-grey-light {
  background-color: #fafafa;
}

/* Utility classes */
.d-flex {
  display: flex;
  align-items: center;
}

.align-center {
  align-items: center;
}

.text-blue {
  color: #4386bf;
}

.txt-primary,
.fa-user {
  color: #0290ff;
}

.pd-l10 {
  padding-left: 10px;
}

.nav-link {
  width: 80%;
}

.w-100c {
  width: 100%;
}

.spc-btw {
  justify-content: space-between;
}

.w-50c {
  width: 50%;
}

.my-40 {
  margin: 2.3rem 0;
}

.grey-light {
  color: #c4c4c4;
}

.pb-3 {
  padding-bottom: 3rem;
}

.w-60c {
  width: 60%;
}

.w-30c {
  width: 30%;
}

.w-20c {
  width: 20%;
}

.md-6 {
  margin: 0 6.25rem;
}

.bg-white {
  background-color: #fff;
}

.txt-dark {
  color: #121212;
}

.pointer {
  cursor: pointer;
}

.capitalize {
  text-transform: capitalize;
}

.txt-upper {
  text-transform: uppercase;
}

.ft-8 {
  font-size: 0.875rem;
}

.ft-8a {
  font-size: 0.813rem;
}

.bdr-4 {
  border-radius: 4px;
}

.fw-300 {
  font-weight: 300;
}
